<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<title>Week 5 Calculate Mortgage</title>
</h:head>
<h:body>
<h1>Web Services Facelet Client</h1>
<f:view>
<h:form>
<p>Principle: <h:message for="principle" /></p>
<h:inputText id="principle" label="principle" size="32" value="#{webCalculateServiceBean.principle}" required="true" requiredMessage="You must enter principle!"></h:inputText>

<p>InterestRate: <h:message for="interestRate" /></p>
<h:inputText id="interestRate" label="interestRate" size="32" value="#{webCalculateServiceBean.interestRate}" required="true" requiredMessage="You must enter interestRate!"></h:inputText>

<p>numberOfYears: <h:message for="numberOfYears" /></p>
<h:inputText id="numberOfYears" label="numberOfYears" size="32" value="#{webCalculateServiceBean.numberOfYears}" required="true" requiredMessage="You must enter numberOfYears!"></h:inputText>


<h:commandButton id="submit" value="Submit" action="#{webCalculateServiceBean.setWebServiceClient1()}" />
</h:form>
</f:view>
<p>View The <a href="webresources/calculate">Calculate </a></p>
</h:body>
</html>
